
* {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

body {
    background-image: url("../images/background_pattern.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
	float: left;
}

li a {
	display: block;
	color: #777777;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.nav-borders-both {
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.nav-bar {
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
}

nav {
	margin-top: 20px;
	margin-left: 920px;
	width: 30%;
}

#nav-header {
	background-color: #4aaaa5;
	margin-left: 10%;
	padding: 14px 16px;
	float: left;
	color: #ffffff;
}

.header-font {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
}

.container {
	margin-right: auto; 
	margin-left: auto;
}

.footer {
	background-color: #666666;
	padding: 14px 16px;
	border-top: 4px solid #4aaaa5;
	color: silver;
}

.footer p {
	text-align: center;
}

.main-section {
	width: 960px;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}
#content {
	width: 650px;
	background-color: #ffffff;
	float: left;
	margin-left: 135px;
}

.profile-image {
	float: left;
	margin: 6px 20px 30px 20px;
	overflow: auto;
}

#sidebar {
	width: 270px;
	background-color: red;
	display: right;
	margin-left: 95%;
}

h1 {
	margin: 30px 20px 20px 20px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	border-bottom: 1px solid #777777;
}

.p-about {
	overflow: auto;
	color: #777777;
}

